In [5]:
import os
import pandas as pd

ROOT_DIR = "/Users/azizbek/Documents/Projects/PowerLine/data/InsPLAD-fault/defect_supervised"

In [18]:
csv_file = 'image_labels.csv'
if os.path.exists(csv_file):
    df_main = pd.read_csv(csv_file)
else:
    df_main = pd.DataFrame(columns=['category', 'image_path', 'status'])
    df_main.to_csv('image_labels.csv', index=False)

In [97]:
NAME = "yoke-suspension"
DIRECTORY = "val/rust"
STATUS = 1
folder_path = os.path.join(ROOT_DIR, NAME)
folder_path = os.path.join(folder_path, DIRECTORY)
folder_end_path = os.path.join(NAME, DIRECTORY)

In [98]:
df_temp = pd.DataFrame(columns=['category', 'image_path', 'status'])

for root, dirs, files in os.walk(folder_path):
    for file in files:
        full_path = os.path.join(folder_end_path, file)
        print(full_path)
        df_temp.loc[len(df_temp)] = [NAME, full_path, STATUS]
        # do whatever you want with each file

print(df_temp.head())
print(df_temp.shape)

yoke-suspension/val/rust/15-06-2021_DJI_0172_757.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0210_65.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0351_106.jpg
yoke-suspension/val/rust/02-06-2021_DJI_0092_204.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0144_38.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0352_107.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0444_131.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0352_108.jpg
yoke-suspension/val/rust/15-06-2021_DJI_0160_748.jpg
yoke-suspension/val/rust/09-06-2021_DJI_0474_581.jpg
yoke-suspension/val/rust/15-06-2021_DJI_0217_771.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0385_114.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0626_178.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0262_75.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0622_172.jpg
yoke-suspension/val/rust/09-06-2021_DJI_0475_583.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0144_37.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0183_56.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0355_110.jpg
yoke-suspension/val/rust/01-06-2021_DJI_0355_111.jpg
          category                                         image_path  status
0  yoke-suspension  yoke-suspension/val/rust/15-06-2021_DJI_0172_7...       1
1  yoke-suspension  yoke-suspension/val/rust/01-06-2021_DJI_0210_6...       1
2  yoke-suspension  yoke-suspension/val/rust/01-06-2021_DJI_0351_1...       1
3  yoke-suspension  yoke-suspension/val/rust/02-06-2021_DJI_0092_2...       1
4  yoke-suspension  yoke-suspension/val/rust/01-06-2021_DJI_0144_3...       1
(20, 3)

In [99]:
df_main = pd.concat([df_main, df_temp], ignore_index=True)
df_main.to_csv(csv_file, index=False)
print(df_main.size)

34575

# Creating category code

In [100]:
df_main['category_code'] = 0

In [101]:
df_main.loc[df_main['category'] == 'lightning-rod-suspension', 'category_code'] = 1
df_main.loc[df_main['category'] == 'polymer-insulator-upper-shackle', 'category_code'] = 2
df_main.loc[df_main['category'] == 'vari-grip', 'category_code'] = 3
df_main.loc[df_main['category'] == 'yoke-suspension', 'category_code'] = 4

In [102]:
df_main.to_csv("image_labels_with_code.csv", index=False)

In [103]:
df_main = df_main[['category_code'] + [col for col in df_main.columns if col != 'category_code']]

In [104]:
df_main.head()

,category_code,category,image_path,status
0,0,glass-insulator,glass-insulator/train/good/Fotos 16-11-2020_DJ...,0
1,0,glass-insulator,glass-insulator/train/good/Fotos 25-11-2020_DJ...,0
2,0,glass-insulator,glass-insulator/train/good/Fotos 04-12-2020_DJ...,0
3,0,glass-insulator,glass-insulator/train/good/Fotos 30-11-2020_DJ...,0
4,0,glass-insulator,glass-insulator/train/good/Fotos 04-12-2020_DJ...,0

In [105]:
df_main.to_csv("image_labels_with_code.csv", index=False)

# Creating dataset for defect classification
## Adding status code and name

In [106]:
df = df_main.copy()
df = df.rename(columns={'status': 'status_binary'})
df["status_name"] = ""
df["status_code"] = 0
df.head()

,category_code,category,image_path,status_binary,status_name,status_code
0,0,glass-insulator,glass-insulator/train/good/Fotos 16-11-2020_DJ...,0,,0
1,0,glass-insulator,glass-insulator/train/good/Fotos 25-11-2020_DJ...,0,,0
2,0,glass-insulator,glass-insulator/train/good/Fotos 04-12-2020_DJ...,0,,0
3,0,glass-insulator,glass-insulator/train/good/Fotos 30-11-2020_DJ...,0,,0
4,0,glass-insulator,glass-insulator/train/good/Fotos 04-12-2020_DJ...,0,,0

In [113]:
df.loc[
    (df['category'] == 'glass-insulator') & (df['status_binary'] == 0),
    ['status_code', 'status_name']
] = [0, 'good']

df.loc[
    (df['category'] == 'glass-insulator') & (df['status_binary'] == 1),
    ['status_code', 'status_name']
] = [1, 'missing cap']

df[(df['category'] == 'glass-insulator') & (df['status_binary'] == 1)].head(5)

,category_code,category,image_path,status_binary,status_name,status_code
720,0,glass-insulator,glass-insulator/train/missing-cap/Fotos 03-12-...,1,missing cap,1
721,0,glass-insulator,glass-insulator/train/missing-cap/Fotos 19-10-...,1,missing cap,1
722,0,glass-insulator,glass-insulator/train/missing-cap/Fotos 03-12-...,1,missing cap,1
723,0,glass-insulator,glass-insulator/train/missing-cap/Fotos 25-11-...,1,missing cap,1
724,0,glass-insulator,glass-insulator/train/missing-cap/Fotos 21-10-...,1,missing cap,1

In [114]:
df.loc[
    (df['category'] == 'lightning-rod-suspension') & (df['status_binary'] == 0),
    ['status_code', 'status_name']
] = [2, 'good']

df.loc[
    (df['category'] == 'lightning-rod-suspension') & (df['status_binary'] == 1),
    ['status_code', 'status_name']
] = [3, 'rust']

df[(df['category'] == 'lightning-rod-suspension') & (df['status_binary'] == 1)].head(5)

,category_code,category,image_path,status_binary,status_name,status_code
2019,1,lightning-rod-suspension,lightning-rod-suspension/train/rust/02-06-2021...,1,rust,3
2020,1,lightning-rod-suspension,lightning-rod-suspension/train/rust/15-06-2021...,1,rust,3
2021,1,lightning-rod-suspension,lightning-rod-suspension/train/rust/01-06-2021...,1,rust,3
2022,1,lightning-rod-suspension,lightning-rod-suspension/train/rust/08-06-2021...,1,rust,3
2023,1,lightning-rod-suspension,lightning-rod-suspension/train/rust/08-06-2021...,1,rust,3

In [115]:
name = "polymer-insulator-upper-shackle"

df.loc[
    (df['category'] == 'polymer-insulator-upper-shackle') & (df['status_binary'] == 0),
    ['status_code', 'status_name']
] = [4, 'good']

df.loc[
    (df['category'] == "polymer-insulator-upper-shackle") & (df['status_binary'] == 1),
    ['status_code', 'status_name']
] = [5, 'rust']

df[(df['category'] == "polymer-insulator-upper-shackle") & (df['status_binary'] == 1)].head(5)

,category_code,category,image_path,status_binary,status_name,status_code
3122,2,polymer-insulator-upper-shackle,polymer-insulator-upper-shackle/train/rust/09-...,1,rust,5
3123,2,polymer-insulator-upper-shackle,polymer-insulator-upper-shackle/train/rust/02-...,1,rust,5
3124,2,polymer-insulator-upper-shackle,polymer-insulator-upper-shackle/train/rust/01-...,1,rust,5
3125,2,polymer-insulator-upper-shackle,polymer-insulator-upper-shackle/train/rust/09-...,1,rust,5
3126,2,polymer-insulator-upper-shackle,polymer-insulator-upper-shackle/train/rust/08-...,1,rust,5

In [116]:
df.loc[
    (df['category'] == 'vari-grip') & (df['status_binary'] == 0),
    ['status_code', 'status_name']
] = [6, 'good']

df.loc[
    (df['category'] == 'vari-grip') & (df['status_binary'] == 1),
    ['status_code', 'status_name']
] = [7, 'rust']

df.loc[
    (df['category'] == 'vari-grip') & (df['status_binary'] == 2),
    ['status_code', 'status_name']
] = [8, 'bird-nest']

df[(df['category'] == 'vari-grip') & (df['status_binary'] == 2)].head(5)

,category_code,category,image_path,status_binary,status_name,status_code
4801,3,vari-grip,vari-grip/train/bird-nest/15-06-2021_DJI_0016_...,2,bird-nest,8
4802,3,vari-grip,vari-grip/train/bird-nest/Fotos 25-11-2020_DJI...,2,bird-nest,8
4803,3,vari-grip,vari-grip/train/bird-nest/Fotos 25-11-2020_DJI...,2,bird-nest,8
4804,3,vari-grip,vari-grip/train/bird-nest/10-06-2021_DJI_0244_...,2,bird-nest,8
4805,3,vari-grip,vari-grip/train/bird-nest/Fotos 20-11-2020_DJI...,2,bird-nest,8

In [117]:
df.loc[
    (df['category'] == 'yoke-suspension') & (df['status_binary'] == 0),
    ['status_code', 'status_name']
] = [9, 'good']

df.loc[
    (df['category'] == "yoke-suspension") & (df['status_binary'] == 1),
    ['status_code', 'status_name']
] = [10, 'rust']

df[(df['category'] == "yoke-suspension") & (df['status_binary'] == 1)].head(5)

,category_code,category,image_path,status_binary,status_name,status_code
11215,4,yoke-suspension,yoke-suspension/train/rust/02-06-2021_DJI_0241...,1,rust,10
11216,4,yoke-suspension,yoke-suspension/train/rust/01-06-2021_DJI_0386...,1,rust,10
11217,4,yoke-suspension,yoke-suspension/train/rust/01-06-2021_DJI_0446...,1,rust,10
11218,4,yoke-suspension,yoke-suspension/train/rust/10-06-2021_DJI_0026...,1,rust,10
11219,4,yoke-suspension,yoke-suspension/train/rust/01-06-2021_DJI_0443...,1,rust,10

## Save classification dataset

In [120]:
df.to_csv("labels_with_status_code.csv", index=False)

In [121]:
filename = "labels_with_status_code.csv"

if os.path.exists(filename):
    print(f"✅ File saved: {filename}")
else:
    print("❌ File not saved.")

✅ File saved: labels_with_status_code.csv